<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
  <test name="Test">
  	<parameter name="Browser" value="Firefox"></parameter>
  	<classes>
  	  <class name="lessons.TestCrossBrowser"></class>
  	</classes>
  </test>
  <test name="Test1">
  	<parameter name="Browser" value="Chrome"></parameter>
  	<classes>
  	  <class name="lessons.TestCrossBrowser"></class>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
